##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
#Code goes here

var1 = ''
if not var1:
    print("Variable is empty")

2. > Create a variable containing your name (Points : 5)

In [ ]:
#Code goes here
myvar = "Amelia"
my_var = "Amelia"
_my_var = "Amelia"
myVar = "Amelia"
MYVAR = "Amelia"
myvar2 = "Amelia"

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
#Code goes here
Classroom = ['Buku', 'Pensil', 'Papan Tulis', 'Kursi', 'Meja']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
#Code goes here
dict = {'Name': 'Amel', 'Age': 21, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
#Code goes here
price=12000
quantity_sold=20
discount=0.1

pay = price*quantity_sold*(1-discount)
int(pay)

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here
countries = ['Inggris','Jepang','Korea','Indonesia','Amerika','Vietnam','China']
countries

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here
countries [:4]

In [ ]:
# Append new country to the list (Points : 5)

#Code goes here
countries.append('Italia')
countries

In [ ]:
# Drop one country from the list (Points : 5)

#Code goes here

countries.pop(1)
countries

In [ ]:
# Get country in the last index (Points : 5)

#Code goes here
countries[-1]

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Amel','Nisa','Satria','Mila'],
    "age":[20,19,24,39],
    "gender":[0,0,1,0],
    "membership":['Gold','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)

#Code goes here
customer.keys()

In [ ]:
# Print all customer names (Points : 5)

#Code goes here
customer['name']

In [ ]:
# Print the first customer name (Points : 5)

#Code goes here
customer['name'][0]

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here
customer.pop('age')
customer

In [1]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


#Code goes here
for i in range(len(customer['gender'])):
  if customer['gender'][i] == 1:
    customer['gender'][i] = 'Male'
  else:
    customer['gender'][i] = 'Female'

customer['gender']